<div class="container">
    <h2><oda-label oda-label-value="oda-supervision.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-supervision.metrics-interface"/></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="div_metrics_interface">
                            <oda-loading></oda-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-supervision.maintenance"/></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="div_maintenance">
                            <oda-loading></oda-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Supervision.start();
</script>