<div class="container">
    <h2><oda-label oda-label-value="oda-auth.title"/></h2>
    <form>
        <div class="row">
            <div class="col-md-6">
                <oda-input-text
                    oda-input-text-name="login"
                    oda-input-text-type="text"
                    oda-input-text-label="oda-auth.login"
                    oda-input-text-tips="oda-auth.login-tips"
                    oda-input-text-advice="oda-auth.login-advice"
                    oda-input-text-placeholder="oda-auth.login-placeholder"
                    oda-input-text-check="Oda.Regexs:login"
                    oda-input-text-autocomplete="username" 
                    required/>
            </div>
            <div class="col-md-6">
                    <oda-input-text 
                        oda-input-text-name="password" 
                        oda-input-text-type="password" 
                        oda-input-text-label="oda-auth.password" 
                        oda-input-text-tips="oda-auth.password-tips" 
                        oda-input-text-advice="oda-auth.password-advice"
                        oda-input-text-placeholder="oda-auth.password-placeholder" 
                        oda-input-text-paste="false" 
                        oda-input-text-check="Oda.Regexs:password"
                    required/>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <p>
                <oda-btn 
                    oda-btn-name="submit" 
                    oda-btn-style="primary" 
                    oda-btn-enter="1" 
                    oda-btn-click="$.Oda.Controller.Auth.goIn();" 
                    disabled>oda-auth.bt-submit</oda-btn>
                <oda-btn 
                    oda-btn-style="info" 
                    oda-btn-click="$.Oda.Router.navigateTo({'route':'forgot'});">oda-auth.bt-forgot</oda-btn>
                <oda-btn 
                    oda-btn-style="info" 
                    oda-btn-click="$.Oda.Router.navigateTo({'route':'subscrib'});">oda-auth.bt-subscrib</oda-btn>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="google" style="text-align: center;">
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Auth.start();
</script>