<div class="container">
    <h2><oda-label oda-label-value="oda-admin.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-admin.users"/></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="div_listUtilisateurs">
                            <oda-loading></oda-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-admin.messages"/></span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="div_messages">
                            <oda-loading></oda-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-admin.list"/></span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="word-wrap: break-word;" id="div_listDiffusion">
                            <oda-loading></oda-loading>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="edit-template" type="text/template">
<div class="row">
    <div class="col-md-6">
        <oda-input-text
            oda-input-text-name="edit_mail"
            oda-input-text-type="mail"
            oda-input-text-label="oda-admin.edit_mail"
            oda-input-text-tips="oda-main.contact-mail-tips"
            oda-input-text-placeholder="oda-main.contact-mail-placeholder"
            oda-input-text-check="Oda.Regexs:mail" 
            oda-input-text-value="{{edit_mail}}"
            required/>
    </div>
    <div class="col-md-6">
        <oda-input-text
            oda-input-text-name="edit_desc"
            oda-input-text-type="text"
            oda-input-text-label="oda-admin.edit_desc"
            oda-input-text-check="Oda.Regexs:noInjection" 
            oda-input-text-value="{{edit_desc}}"/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <oda-input-select 
            oda-input-select-name="edit_actif" 
            oda-input-select-label="oda-admin.edit_actif"
            oda-input-select-value="{{edit_actif_selected}}"
            oda-input-select-availables="[{id:0,label:'Off'},{id:1,label:'On'}]"
            oda-input-select-display="elt.label"
            oda-input-select-response="elt.id"
            required/>
    </div>
    <div class="col-md-6">
        <oda-input-select 
            oda-input-select-name="input_rang" 
            oda-input-select-label="oda-admin.input_rang"
            oda-input-select-value="{{selectedRank}}"
            oda-input-select-availables="{{ranks}}"
            oda-input-select-display="elt.label"
            oda-input-select-response="elt.id"
            oda-input-select-order="asc"
            required/>
    </div>
</div>
</script>
    
<script id="tplNewMessage" type="text/template">
<div class="row">
    <div class="col-md-12">
        <oda-input-area
            oda-input-area-name="input_message"
            oda-input-area-label="oda-admin.messageCreateMessage"
            oda-input-area-hight="10"
            oda-input-area-check="Oda.Regexs:noInjection"
            oda-input-area-rich="true"
            required/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <oda-input-select 
            oda-input-select-name="input_niveau" 
            oda-input-select-label="oda-admin.messageCreateAlertLevel"
            oda-input-select-value=""
            oda-input-select-availables="[{id:'info','label':'oda-admin.messageCreateAlertLevelInfo'},{id:'danger','label':'oda-admin.messageCreateAlertLevelDanger'},{id:'warning','label':'oda-admin.messageCreateAlertLevelWarning'},{id:'success','label':'oda-admin.messageCreateAlertLevelSuccess'}]"
            oda-input-select-display="elt.label"
            oda-input-select-response="elt.id"
            oda-input-select-order="asc"
            required/>
    </div>
    <div class="col-md-6">
        <oda-input-select 
            oda-input-select-name="input_profile" 
            oda-input-select-label="oda-admin.messageCreateProfileLevel"
            oda-input-select-value=""
            oda-input-select-availables="{{ranks}}"
            oda-input-select-display="elt.label"
            oda-input-select-response="elt.id"
            oda-input-select-order="asc"
            required/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <oda-input-text
            oda-input-text-name="input_date_expiration"
            oda-input-text-type="date"
            oda-input-text-label="oda-admin.messageCreateDelay"
            oda-input-text-check="Oda.Regexs:noInjection"/>
    </div>
    <div class="col-md-6">
    </div>
</div>
</script>

<script id="edit-footer-tpl" type="text/template">
<oda-btn oda-btn-name="bt_validerEdit" oda-btn-enter="1" oda-btn-style="primary" oda-btn-icon-before="ok" oda-btn-click="$.Oda.Controller.Admin.userEditionValidate();" disabled>oda-main.bt-submit</oda-btn>
<oda-btn oda-btn-style="default" oda-btn-click="$.Oda.Display.Popup.close();">oda-main.bt-cancel</oda-btn>
</script>

<script id="user-tab-tpl" type="text/template">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered hover" id="table_listUtilisateurs">
    <tfoot>
        <tr>
            <th oda-attr="text"></th>
            <th oda-attr="text"></th>
            <th oda-attr="text"></th>
            <th oda-attr="text"></th>
            <th oda-attr="text"></th>
            <th oda-attr="text"></th>
            <th></th>
        </tr>
    </tfoot>
</table>
</script>

<script id="message-tpl" type="text/template">
<div id="table_messages"></div>
<oda-btn oda-btn-name="bt_validerRetourMsg" oda-btn-style="primary" oda-btn-icon-before="new" oda-btn-click="$.Oda.Controller.Admin.messageNew();">oda-admin.bt-create-new-message</oda-btn>
</script>

<script id="newMessage-footer-tpl" type="text/template">
<oda-btn oda-btn-name="bt_validerCreerMsg" oda-btn-style="primary" oda-btn-icon-before="ok" oda-btn-click="$.Oda.Controller.Admin.messageNewSubmit();" disabled>oda-main.bt-submit</oda-btn>
<oda-btn oda-btn-style="default" oda-btn-click="$.Oda.Display.Popup.close();">oda-main.bt-cancel</oda-btn>
</script>

<script>
    $.Oda.Controller.Admin.start();
</script>