<div class="container">
    <h2><oda-label oda-label-value="oda-contact.title"/></h2>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="name"
                oda-input-text-type="text"
                oda-input-text-label="oda-contact.lastName"
                oda-input-text-tips="oda-contact.lastName-tips"
                oda-input-text-advice="oda-contact.lastName-advice"
                oda-input-text-placeholder="oda-contact.lastName-placeholder"
                oda-input-text-check="Oda.Regexs:firstName"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="mail"
                oda-input-text-type="mail"
                oda-input-text-label="oda-contact.mail"
                oda-input-text-tips="oda-contact.mail-tips"
                oda-input-text-advice="oda-contact.mail-advice"
                oda-input-text-placeholder="oda-contact.mail-placeholder"
                oda-input-text-check="Oda.Regexs:mail"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <oda-input-area
                oda-input-area-name="msg"
                oda-input-area-label="oda-contact.message"
                oda-input-area-tips="oda-contact.message-tips"
                oda-input-area-placeholder="oda-contact.message-placeholder"
                oda-input-area-hight="10"
                oda-input-area-paste="false"
                oda-input-area-check=".{25,}"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.Contact.contact();" disabled>oda-contact.submit</oda-btn>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Contact.start();
</script>

<script id="mailContact" type="text/template">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table bgcolor="#343846" width="100%" border="0" cellpadding="10px" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <font face="verdana" color="#d3d3d3">
                Code user : {{userCode}}<br>
                <br>
                Nom : {{name}}<br>
                <br>
                Mail : {{mail}}<br>
                <br>
                Message : <br>
                <pre>{{msg}}</pre>
                <br/>
                Merci et rendez-vous <a href='{{siteUrl}}'><font color="#add8e6">ici</font></a><br>
                <br/>
                L'&eacute;quipe<br>
            </font>
        </td>
    </tr>
    </tbody>
</table>
</html>
</script>