<div class="container">
    <h2><oda-label oda-label-value="oda-stats.title"/></h2>
    <div class="row">
        <div class="col-md-6">
            <div id="div_activityByUser" class="panel-body">
                <oda-loading></oda-loading>
            </div>
        </div>
        <div class="col-md-6">
            <div id="div_activityByPage" class="panel-body">
                <oda-loading></oda-loading>
            </div>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Stats.start();
</script>