<div class="container">
    <h2><oda-label oda-label-value="oda-forgot.title"/></h2>
    <p><oda-label oda-label-value="oda-forgot.info"/></p>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="code"
                oda-input-text-type="text"
                oda-input-text-label="oda-forgot.login"
                oda-input-text-tips="oda-forgot.login-tips"
                oda-input-text-advice="oda-forgot.login-advice"
                oda-input-text-placeholder="oda-forgot.login-placeholder"
                oda-input-text-check="Oda.Regexs:login"/>
        </div>
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="mail"
                oda-input-text-type="mail"
                oda-input-text-label="oda-forgot.mail"
                oda-input-text-tips="oda-forgot.mail-tips"
                oda-input-text-advice="oda-forgot.mail-advice"
                oda-input-text-placeholder="oda-forgot.mail-placeholder"
                oda-input-text-check="Oda.Regexs:mail"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.Forgot.getAccount();" disabled>oda-forgot.submit</oda-btn>
                <oda-btn oda-btn-style="info" oda-btn-click="$.Oda.Router.navigateTo({'route':'home'});">oda-forgot.back</oda-btn>
            </p>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Forgot.start();
</script>