<div class="container">
    <h2><oda-label oda-label-value="oda-tests.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <oda-label oda-label-value="oda-tests.hello"/>
        </div>
        <br><br>
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><oda-label oda-label-value="oda-tests.tabMail"/></a></li>
                <li role="presentation"><a href="#cache" aria-controls="chache" role="tab" data-toggle="tab"><oda-label oda-label-value="oda-tests.cacheTab"/></a></li>
                <li role="presentation"><a href="#mockup" aria-controls="mockup" role="tab" data-toggle="tab"><oda-label oda-label-value="oda-tests.mockupTab"/></a></li>
                <li role="presentation"><a href="#offline" aria-controls="offline" role="tab" data-toggle="tab"><oda-label oda-label-value="oda-tests.offlineTab"/></a></li>
            </ul>
            <!-- end Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <oda-input-text
                                oda-input-text-name="mail"
                                oda-input-text-type="mail"
                                oda-input-text-label="oda-main.contact-mail"
                                oda-input-text-tips="oda-main.contact-mail-tips"
                                oda-input-text-placeholder="oda-main.contact-mail-placeholder"
                                oda-input-text-check="Oda.Regexs:mail"
                                required/>
                        </div>
                        <div class="col-md-6">
                            <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.Tests.sendMail();" disabled>oda-main.bt-submit</oda-btn>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cache">
                    <br>
                    <p><oda-label oda-label-value="oda-tests.cacheHello"/></p>
                    <div id="alert-cache" class="alert alert-warning" style="display:none;"><strong><oda-label oda-label-value="oda-tests.cacheAlert"/></strong></div>
                    <div id="divBtTestCache" style="display:none;">
                        <oda-btn oda-btn-style="primary" oda-btn-click="$.Oda.Controller.Tests.testCache();">oda-main.bt-submit</oda-btn>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="mockup">
                    <br>
                    <p><oda-label oda-label-value="oda-tests.mockupHello"/></p>
                    <oda-btn oda-btn-style="primary" oda-btn-click="$.Oda.Controller.Tests.testMockup();">oda-main.bt-submit</oda-btn>
                </div>
                <div role="tabpanel" class="tab-pane" id="offline">
                    <br>
                    <p><oda-label oda-label-value="oda-tests.offlineHello"/></p>
                    <oda-btn oda-btn-style="primary" oda-btn-click="$.Oda.Controller.Tests.testOffline();">oda-main.bt-submit</oda-btn>
                </div>
            </div>
            <!-- end Tab panes -->
        </div>
    </div>
</div>

<script>
$.Oda.Controller.Tests.start();
</script>

<script id="mailTest" type="text/template">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html, charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table bgcolor="#343846" width="100%" border="0" cellpadding="10px" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <font face="verdana" color="#d3d3d3">
                    Bonjour ceci est un test<br/>
                    <br/>
                    Merci et rendez-vous <a href='{{siteUrl}}'><font color="#add8e6">ici</font></a><br>
                    <br/>
                    L'&eacute;quipe<br>
                </font>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
</script>