<div class="container">
    <h2><oda-label oda-label-value="oda-resetPwd.title"/></h2>
    <p>
        <oda-label oda-label-value="oda-resetPwd.info"/><span id="userCode" style="font-weight: bolder"></span>
    </p>
    <div class="row">
        <div class="col-md-12">
            <oda-input-text
                oda-input-text-name="email"
                oda-input-text-type="mail"
                oda-input-text-label="oda-resetPwd.mail"
                oda-input-text-tips="oda-resetPwd.mail-tips"
                oda-input-text-placeholder="oda-resetPwd.mail-placeholder"
                oda-input-text-check="Oda.Regexs:mail"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text 
                oda-input-text-name="pwd" 
                oda-input-text-type="password" 
                oda-input-text-label="oda-resetPwd.password" 
                oda-input-text-tips="oda-resetPwd.password-tips" 
                oda-input-text-advice="oda-resetPwd.password-advice"
                oda-input-text-placeholder="oda-resetPwd.password-placeholder" 
                oda-input-text-paste="false" 
                oda-input-text-check="Oda.Regexs:password"
                required>
        </div>
        <div class="col-md-6">
            <oda-input-text 
                oda-input-text-name="pwd2" 
                oda-input-text-type="password" 
                oda-input-text-label="oda-resetPwd.confirm" 
                oda-input-text-tips="oda-resetPwd.confirm-tips" 
                oda-input-text-advice="oda-resetPwd.confirm-advice"
                oda-input-text-placeholder="oda-resetPwd.confirm-placeholder" 
                oda-input-text-paste="false" 
                oda-input-text-check="Oda.Regexs:password"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.ResetPwd.reset();" disabled>oda-resetPwd.submit</oda-btn>
                <oda-btn oda-btn-style="info" oda-btn-click="$.Oda.Router.navigateTo({'route':'home','args':[]});">oda-resetPwd.back</oda-btn>
            </p>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.ResetPwd.start();
</script>