<div class="container">
    <h2><oda-label oda-label-value="oda-subscrib.title"/></h2>
    <p><oda-label oda-label-value="oda-subscrib.info"/></p>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="firstName"
                oda-input-text-type="text"
                oda-input-text-label="oda-subscrib.firstName"
                oda-input-text-tips="oda-subscrib.firstName-tips"
                oda-input-text-advice="oda-subscrib.firstName-advice"
                oda-input-text-placeholder="oda-subscrib.firstName-placeholder"
                oda-input-text-check="Oda.Regexs:firstName"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="lastName"
                oda-input-text-type="text"
                oda-input-text-label="oda-subscrib.lastName"
                oda-input-text-tips="oda-subscrib.lastName-tips"
                oda-input-text-advice="oda-subscrib.lastName-advice"
                oda-input-text-placeholder="oda-subscrib.lastName-placeholder"
                oda-input-text-check="Oda.Regexs:lastName"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <oda-input-text
                oda-input-text-name="mail"
                oda-input-text-type="mail"
                oda-input-text-label="oda-subscrib.mail"
                oda-input-text-tips="oda-subscrib.mail-tips"
                oda-input-text-advice="oda-subscrib.mail-advice"
                oda-input-text-placeholder="oda-subscrib.mail-placeholder"
                oda-input-text-check="Oda.Regexs:mail"
                required/>
        </div>
        <div class="col-md-6">
            <oda-input-text 
                oda-input-text-name="password" 
                oda-input-text-type="password" 
                oda-input-text-label="oda-subscrib.password" 
                oda-input-text-tips="oda-subscrib.password-tips" 
                oda-input-text-advice="oda-subscrib.password-advice"
                oda-input-text-placeholder="oda-subscrib.password-placeholder" 
                oda-input-text-paste="false" 
                oda-input-text-check="Oda.Regexs:password"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <oda-label oda-label-value="oda-subscrib.login"/>&nbsp;:&nbsp;<span id="login" style="font-weight: bold;"></span>
            </p>
        </div>
        <div class="col-md-12">
            <p>
                <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.Subscrib.createAccount();" disabled>oda-subscrib.submit</oda-btn>
                <oda-btn oda-btn-style="info" oda-btn-click="$.Oda.Router.navigateTo({'route':'home'});">oda-subscrib.back</oda-btn>
            </p>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Subscrib.start();
</script>

<script id="mailSubscribe" type="text/template">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table bgcolor="#343846" width="100%" border="0" cellpadding="10px" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <font face="verdana" color="#d3d3d3">
                Bonjour {{firstName}} {{lastName}},<br>
                <br>
                Votre compte a bien &eacute;t&eacute; cr&eacute;&eacute;.<br>
                <br>
                Pour rappel : <br>
                - votre identifiant : {{code_user}}<br>
                <br>
                Merci et rendez-vous <a href='{{siteUrl}}'><font color="#add8e6">ici</font></a><br>
                <br>
                L'&eacute;quipe<br>
            </font>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
</script>