<div class="container">
    <h2><oda-label oda-label-value="oda-navigation.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <oda-label oda-label-value="oda-navigation.hello"/>
        </div>
    </div>
    
    <div class="row" id="rankdiv">
        <oda-loading/>
    </div>
</div>

<script>
    $.Oda.Controller.Navigation.start();
</script>

<script id="rank-tpl" type="text/template">
<div class="col-md-6">
    <h4><oda-label oda-label-value="{{label}}"/></h4>
    <div id="mapping_{{index}}_div"></div>
</div>
</script>