<div class="container">
    <h2><oda-label oda-label-value="oda-profile.title"/></h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><oda-label oda-label-value="oda-profile.infos"/></div>
                <div id="div_infos" class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.codeUser"/></td>
                            <td><label id="code_user"></label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.rank"/></td>
                            <td><label id="rank"></label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.firstName"/></td>
                            <td><label id="firstName"></label></td>
                            <td><oda-btn oda-btn-style="default" oda-btn-icon-before="edit" oda-btn-click="$.Oda.Controller.Profile.updateChamps('firstName');"></oda-btn></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.lastName"/></td>
                            <td><label id="lastName"></label></td>
                            <td><oda-btn oda-btn-style="default" oda-btn-icon-before="edit" oda-btn-click="$.Oda.Controller.Profile.updateChamps('lastName');"></oda-btn></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.mail"/></td>
                            <td><label id="mail"></label></td>
                            <td><oda-btn oda-btn-style="default" oda-btn-icon-before="edit" oda-btn-click="$.Oda.Controller.Profile.updateChamps('mail');"></oda-btn></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.language"/></td>
                            <td><label id="language"></label></td>
                            <td><oda-btn oda-btn-style="default" oda-btn-icon-before="edit" oda-btn-click="$.Oda.Controller.Profile.updateChamps('language');"></oda-btn></td>
                        </tr>
                        <tr>
                            <td><oda-label oda-label-value="oda-profile.avatar"/></td>
                            <td><oda-avatar oda-avatar-user="" oda-avatar-name="avatarProfile" oda-avatar-height="45" oda-avatar-width="45" /></td>
                            <td><div class="fileUpload btn btn-primary"><span class="glyphicon glyphicon-share" aria-hidden="true"></span><input type="file" class="upload" onchange="$.Oda.Controller.Profile.setAvatar({elt: this});" id="bt_avatar" /></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tplUpdateField" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <oda-input-text 
                oda-input-text-name="input_old_password" 
                oda-input-text-type="password" 
                oda-input-text-label="oda-main.password" 
                oda-input-text-tips="oda-main.io-pass-tips" 
                oda-input-text-advice="oda-main.io-pass-advice"
                oda-input-text-placeholder="oda-main.io-pass-placeholder" 
                oda-input-text-paste="false" 
                oda-input-text-check="Oda.Regexs:password"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{content}}
        </div>
    </div>
</script>

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>

<script>
    $.Oda.Controller.Profile.start();
</script>