/* dataTable - begin */
.dataTableColCenter {
    text-align: center;
}
.dataTableColLeft {
    text-align: left;
}
.dataTableColRight {
    text-align: right;
}
/* dataTable - end */

.iconProfile {
    transition: all .2s ease-in-out;
}

.iconProfile:hover {
    transform: scale(1.5);
}

a:hover {
    cursor:pointer;
}

.alert-warning {
    color: #3a3a3a;
    background-color: rgba(250, 159, 38, 1);
    border-color: rgba(117, 71, 22, 1);
}

/* footer - begin */
.footer{
    z-index: 999999;
    position: fixed;
    bottom: 5px;
    text-align: center;
    width:100px;
    margin: 0 0 0 -5%;
    left:50%;
    color: lightgray;
}

.footer a:link {
    color: rgba(53, 141, 201, 0.44);
}
.footer a {
    text-decoration: none;
}
/* footer - end */

.navbar {
    margin-bottom: 5px;
}

#oda-content {
    padding-bottom: 10px;
}

/* Loading - begin */
.oda-loader-container {
    min-height: 75px;
    text-align: center;
    font-family: Helvetica;
}

.oda-loader {
    height: 20px;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.oda-loader-dot {
    animation-name: oda-loading;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.oda-loader-dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.oda-loader-dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.oda-loader-dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.oda-loader-dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.oda-loader-dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.oda-loader-dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.oda-loader-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}
.oda-loader-text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: oda-loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes oda-loading {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(180px);
    }
    65% {
        transform: translateX(180px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes oda-loading-text {
    0% {
        content: "Chargement";
    }
    25% {
        content: "Chargement.";
    }
    50% {
        content: "Chargement..";
    }
    75% {
        content: "Chargement...";
    }
}
/* Loading - end */

.btn-listenEnter{
    border-color: green;
}

.popover {
    z-index: 9999; /* A value higher than 1010 that solves the problem */
}

.oda-guidance {
    display: none;
}

.modal-xl {
    width: 90vw;
}